$main_text_color: #333;
$gray: #ccc;
$green: #66b12f;
$red: #d9534f;
$selected: #00d9ff;
$header_bg: #000662;
$panel_header_bg: linear-gradient(102deg, #ffda90, #ef325b);
$panel_header_weight: bold;
$panel_border_color: #000662;
$panel_bg: #fff;
$panel_header_color: #fff;
$thead_color: #333;
$tr_border_color: #000662;

.text_site_logo{
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: $panel_header_color;
}
.form-control{
    color: $gray;
}
.content{
    top: 2000px;
}
.market_top_menu{
    background: $header_bg;
    display: flex;
    padding: 10px;
    padding-top: 2.5vw;
    padding-bottom: 2.5vw;
    img{
        height: 25px;
    }
    .navbar-nav{
        padding: 0;
        list-style: none;
        margin-left: auto;
        padding-top: 5px;
        .navbar-text{
            a{
                text-decoration: underline;
            }
        }
        & > li{
            margin: 0 10px;
        }
    }
}
g{
    color: $main_text_color;
}
.text-up{
    color: $green;
    g{
        color: $green;
    }
}
.text-down{
    color: $red;
    g{
        color: $red;
    }
}
.c_content, .c_m_content{
    font-family: Montserrat, sans-serif;
    background: linear-gradient(56deg, #0f1477, #0f1477 90%, #d65062);
    background-color: #0f1577;
    background-repeat: no-repeat;
    color: #000;
    float: left;
    width: 100%;
    outline: none;
    padding-bottom: 40px;
    padding-top: 5px;
    a{
        color: #2c2f33;
        &:hover,&.active{
            color: $selected;
        }
    }
    .panel_button{
        border: 0px solid $panel_border_color;
        background: $panel_header_bg;
        border-radius: 2px;
        font-weight: $panel_header_weight;
        width: 100%;
        padding: 5px 12px;
        color: $panel_header_color;
        &:hover,&:focus{
            color: $panel_header_color;
            outline: none;
        }
    }
    .panel_wrapper{
        border: 1px solid $panel_border_color;
        background: $panel_bg;
        border-top: none;
        border-radius: 0 0 2px 2px;
        width: 100%;
        height: 0;
        overflow-y: hidden;
        margin-bottom: 5px;
        &.shown{
            height: auto;
        }
    }
    .balances_wrapper{
        .currency-logo{
            width: 32px;
            height: 32px;
            border-radius: 100%;
            background: center center no-repeat no-repeat;
            background-size: cover;
            margin: 0 auto;
        }
        a{
            text-decoration: underline;
        }
    }
    .markets_wrapper{
        thead{
            display: block;
            tr{
                padding-right: 15px;
            }
            th{
                border-color: $panel_border_color;
                color: $thead_color;
                font-size: 12px;
            }
        }
        tbody{
            max-height: 300px;
            display: block;
            overflow-y: scroll;
        }
        .price{
            text-align: right;
        }
        .change{
            text-align: right;
        }
    }
    .chat_wrapper{
        .chat_body{
            height: 300px;
            overflow-y: scroll;
            .chat_item{
                padding: 2px 10px;
                border-bottom: 1px solid $tr_border_color;
                .username{
                    width: 50%;
                    float: left;
                    font-weight: bold;
                }
                .datetime{
                    width: 50%;
                    float: right;
                    text-align: right;
                    font-size: 10px;
                    line-height: 18px;
                }
                .message{
                    width: 100%;
                    float: left;
                }
            }
        }
        .chat_form{
            position: relative;
            border-top: 1px solid $tr_border_color;
            textarea{
                width: calc(100% - 40px);
                height: 50px;
                border: none;
                border-right: 1px solid $tr_border_color;
                outline: none;
                resize: none;
                padding: 5px 5px 5px 10px;
            }
            button{
                position: absolute;
                top: 0;
                right: 0;
                height: 50px;
                width: 40px;
                border: none;
                background: none;
            }
        }
    }
    .news_wrapper{
        max-height: 300px;
        overflow-y: auto;
    }
    .chart_header_panel{
        position: absolute;
        width: 100%;
        z-index: 1;
        top:0;
        left: 0;
    }
    .currency_title_penel{
        list-style: none;
        display: flex;
        justify-content: space-around;
        margin: 0 2px;
        position: relative;
        padding: 5px 10px;
        background: #ccc;
        font-weight: 500;
        border-radius: 2px 2px 0 0;
    }
    .switch{
        position: static;
        padding: 0;
        list-style: none;
        display: flex;
        justify-content: flex-end;
        margin: 5px 15px;
        position: relative;
        top: 0 !important;
        left: 0;
    }
    .indicator_switch_panel{
        padding: 0;
        list-style: none;
        display: flex;
        justify-content: flex-end;
        margin: 5px 15px;
        position: relative;
    }
    #candlestick{
        width: 100% !important;
        height: auto !important;
        position: relative;
        top: 0px;
        left: 0px;
        border: 1px solid #ccc;
        margin-bottom: 5px;
        border-radius: 0 0 2px 2px;
        z-index: 0;
    }
    #bid_entry,#ask_entry{
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        background: $panel_bg;
        border: 1px solid $panel_border_color;
        border-radius: 0 0 2px 2px;
        margin-bottom: 5px;
        .hint-price-disadvantage, .hint-positions{
            top: 7px;
        }
        .form-control{
            background-color: #fff;
            color: #2c2f33;
            border: 1px solid $gray;
            text-align: left;
            padding: 17px 6px 16px 6px !important;
        }
        .input-group span.input-group-addon,
        .input-group label.input-group-addon{
            background-color: $gray;
            color: #2c2f33;
            border: 1px solid $gray;
        }
        button{
            border: none;
            color: #fff;
            font-weight: 600;
            &.text-up{
                background: $green;
            }
            &.text-down{
                background: $red;
            }
            &:hover{
                opacity: 0.8;
            }
        }
    }
    .panel_header{
        padding: 5px 10px;
        background: $panel_header_bg;
        color: $panel_header_color;
        font-weight: $panel_header_weight;
        border-radius: 2px 2px 0 0;
    }
    .trade_history_panel{
        border: 1px solid $panel_border_color;
        background: $panel_bg;
        border-top: none;
        border-radius: 0 0 2px 2px;
        margin-bottom: 5px;
        .table{
            margin: 0;
            thead{
                display: block;
                tr{
                    padding-right: 15px;
                }
                th{
                    border-color: $panel_border_color;
                    color: $thead_color;
                    font-size: 12px;
                }
            }
            tbody{
                display: block;
                overflow-y: scroll;
                height: 410px;
            }
        }
    }
    .ask_orders_panel,.bid_orders_panel,.open_orders_panel{
        border: 1px solid $panel_border_color;
        background: $panel_bg;
        border-top: none;
        border-radius: 0 0 2px 2px;
        margin-bottom: 5px;
        table{
            margin: 0;
            thead{
                display: block;
                tr{
                    padding-right: 15px;
                }
                th{
                    border-color: $panel_border_color;
                    color: $thead_color;
                    font-size: 12px;
                }
            }
            tbody{
                display: block;
                overflow-y: scroll;
                height: 150px;
            }
            tr{
                width: 100%;
                display: flex;
                &:hover{
                    td{
                        background: transparent;
                    }
                }
            }
            td{
                text-align: left;
            }
            .kind{
                padding: 8px 0;
                .label{
                    color: #2c2f33;
                }
            }
        }
    }
    .mask{
        color: #fff;
        a{
            color: #fff;
            text-decoration: underline;
            &:hover{
                color: $selected;
            }
        }
    }
    .label-primary {
        background-color: rgba(199, 36, 66, 0.76);
    }
    .label-danger{
        background-color: transparent;
    }
    .label{
        padding: .2em .6em .2em;
    }
    tr{
        display: block;
        &::after {
            display: block;
            content: "";
            clear: both;
        }
    }
    table td[class*="col-"], table th[class*="col-"] {
        position: relative;
        float: left;
        display: block;
    }
    td{
        border-color: $tr_border_color !important;
    }
}
/*Mobile Trade page*/
.c_m_content{
    overflow: hidden;
    position: relative;
    height: inherit;
    .currency_title_penel{
        padding-left: 35px;
    }
    .panel_header{
        text-align: center;
    }
    thead{
        tr{
            padding-right: 0px !important;
        }
        th{
            border-color: $panel_border_color;
            color: $thead_color;
        }
    }
}
.mobile_trade_menu_btn{
    font-size: 25px;
}
.mobile_trade_menu{
    position: absolute;
    background: #ffffff;
    width: 50%;
    height: 100%;
    left: -50%;
    z-index: 2;
    transition: all 0.5s;
    &.opened{
        left: 0%;
    }
    // .mobile_trade_menu_btn{
    //     position: absolute;
    //     top: 0;
    //     right: -35px;
    //     padding: 2px 10px;
    //     color: #000000;
    //     font-size: 18px;
    // }
    ul{
        padding: 0;
        margin: 0;
        list-style: none;
        & > li{
            padding: 5px 10px;
            &:nth-of-type(odd){
                background: #eee;
            }
            &.active{
                border-left: 4px solid gray;
                font-weight: bold;
                padding-left: 6px;
            }
        }
    }
}
.mobile_trade_body{
    position: absolute;
    background: #ffffff;
    width: 100%;
    height: 100%;
    left: 0%;
    transition: all 0.5s;
    overflow: auto;
    &.menu_opened{
        left: 50%;
    }
    div[class^="m_t_"]{
        display: none;
    }
}
/*END Mobile Trade Page*/
.panel {
    position: initial;
    border-color: $panel_border_color;
    width: 100% !important;
    background: #ffffff;
    .highcharts-container{
        width: 100% !important;
    }
}
