<div class="ask_orders_panel">
    <table class="table table-head">
      <thead>
        <tr>
          <th class="price text-left col-xs-7">
            <%= t('markets.order_book.ask') %>
          </th>
          <th class="volume text-left col-xs-7">
            <%= t('markets.order_book.volume') %>
          </th>
          <th class="amount text-left col-xs-10">
            <%= t('markets.order_book.amount') %>
          </th>
        </tr>
      </thead>
    </table>
    <table class="table table-hover asks">
        <tbody></tbody>
    </table>
</div>
