<div id="ask_entry" class="panel panel-default entry-left">
  <div class="panel-body">
    <%= form_for 'order_ask', url: "/markets/#{market.fetch(:id)}/order_asks", remote: true, html: { class: 'new_order_ask', id: 'new_order_ask' } do |f| %>
      <%= f.hidden_field :ord_type, value: 'limit' %>
      <div class="input-group price">
        <span class="label label-primary hint-price-disadvantage"></span>
        <%= f.text_field :price, class: 'form-control', placeholder: t('markets.ask_entry.price') %>
        <span class="input-group-addon"><%= market.fetch(:bid_unit).upcase %></span>
      </div>
      <div class="input-group amount">
        <span class="label label-info hint-positions"></span>
        <%= f.text_field :origin_volume, class: 'form-control', placeholder: t('markets.ask_entry.amount') %>
        <span class="input-group-addon"><%= market.fetch(:ask_unit).upcase %></span>
      </div>
      <div class="input-group total">
        <%= f.text_field :total, class: 'form-control', placeholder: t('markets.ask_entry.total') %>
        <span class="input-group-addon"><%= market.fetch(:bid_unit).upcase %></span>
      </div>
      <%= render partial: 'balance', locals: { currency: market.fetch(:ask_unit).upcase } %>

      <button class="btn btn-primary btn-block text-down" type="submit">
        <%= t('markets.ask_entry.action', currency: market.fetch(:ask_unit).upcase) %>
      </button>
    <% end %>
  </div>
  <%= render partial: 'mask' %>
</div>
