<button class="btn panel_button" data-target="balances_wrapper"><%= t('trade.account_balance.title') %></button>
<div class="panel_wrapper balances_wrapper shown">
<% if @data[:current_member] %>
    <table class="table">
        <tbody>
            <% @data.fetch(:my_accounts).each do |account| %>
                <% market = @data.fetch(:current_market) %>
                <% ccy = account.fetch(:currency) %>
                <tr class="<%= ccy.fetch(:code) %>">
                    <td class="account-symbol col-xs-6 text-center">
                        <div class="currency-logo" style="background-image: url('<%= ccy.fetch(:icon_url) %>');"></div>
                        <div><%= ccy[:code].upcase %></div>
                    </td>
                    <td class="account-balance col-xs-18 text-right">
                        <%= t('markets.account_summary.amount') %>: <span class="amount"><%= account.fetch(:amount) %></span>
                        <br>
                        <%= t('markets.account_summary.locked') %>: <span class="locked"><%= account.fetch(:locked) %></span>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
<% else %>
    <%= t('markets.mask.warning', regist_pass: '/regist', login_pass: '/login').html_safe %>
<% end %>
</div>
