<button class="btn panel_button" data-target="chat_wrapper"><%= t('markets.show.chat') %></button>
<div class="panel_wrapper chat_wrapper shown">
    <div class="chat_body">

    </div>
    <div class="chat_form">
        <% if @data[:current_member] %>
            <textarea row="2" name="message"></textarea>
            <button id="send_chat_message" class="fas fa-paper-plane"></button>
        <% else %>
            <%= t('markets.mask.warning', regist_pass: '/regist', login_pass: '/login').html_safe %>
        <% end %>
    </div>
</div>
