<div class="chart_header_panel">
    <ul class="currency_title_penel">
        <li>
            <%= @data.fetch(:current_market).fetch(:ask_unit).upcase %>/<%= @data.fetch(:current_market).fetch(:bid_unit).upcase %>
        </li>
        <li>
            <span><%= t('markets.header.vol') %>: <span class="vol"></span></span>
        </li>
        <li>
            <span><%= t('markets.header.high') %>: <span class="high"></span></span>
        </li>
        <li>
            <span><%= t('markets.header.low') %>: <span class="low"></span></span>
        </li>
        <li>
            <span><%= t('markets.header.change') %>: <span class="change"></span></span>
        </li>
    </ul>
    <ul id="range_switch" class="list-inline switch" data-x="60">
      <% %w(1 5 15 30 | 60 120 240 360 720 | 1440 4320 | 10080).each do |x| %>
        <li class="text-center">
          <% if x == '|' %>
            <span> | </span>
          <% else %>
            <a class="hand-point chart-switch" href="#" data-x="<%= x %>">
              <%= t("markets.range_switch.switch_#{x}") %>
            </a>
          <% end %>
        </li>
      <% end %>
    </ul>
    <ul class="indicator_switch_panel">
      <li>
        <ul id="type_switch" class="indicator_switch list-inline" data-x="candlestick">
          <li class="text-center">
            <a class="hand-point" data-x="candlestick" href="#"><%= t('chart.candlestick') %></a>
          </li>
          <li class="text-center">
            <a class="hand-point" data-x="close" href="#"><%= t('chart.line') %></a>
          </li>
          <li class="text-center">
            <span> | </span>
          </li>
        </ul>
      </li>
      <li>
        <ul id="main_indicator_switch" class="indicator_switch list-inline" data-x="MA">
          <li class="text-center">
            <a class="hand-point" data-x="MA" href="#">MA</a>
          </li>
          <li class="text-center">
            <a class="hand-point" data-x="EMA" href="#">EMA</a>
          </li>
          <li class="text-center">
            <span> | </span>
          </li>
        </ul>
      </li>
      <li>
        <ul id="indicator_switch" class="indicator_switch list-inline" data-x="MACD">
          <li class="text-center">
            <a class="hand-point" data-x="MACD" href="#">MACD</a>
          </li>
        </ul>
      </li>
    </ul>
</div>
