<header class="market_top_menu">
    <a class="text-center navbar-brand" href="/">
        <!-- <img class="nav-img" src="<%= ENV['LOGO_URL'] || image_path('logo.svg') %>"> -->
        <div class="text_site_logo">Innova.Exchange</div>
    </a>
    <ul class="navbar-nav ml-auto">
        <% if mobile_device? %>
            <li class="mobile_trade_menu_btn"><i class="fas fa-bars"></i></li>
        <% else %>
            <% if @data[:current_member] %>
              <%= render partial: 'settings' %>
            <% else %>
              <p class="navbar-text">
                <%= t('markets.mask.warning', regist_pass: '/regist', login_pass: '/login').html_safe %>
              </p>
            <% end %>
            <%= render partial: 'language' %>
        <% end %>
    </ul>
</header>
