<button class="btn panel_button" data-target="markets_wrapper"><%= t('trade.markets') %></button>
<div class="panel_wrapper markets_wrapper shown">
    <table class="table">
        <thead>
            <tr>
                <th class="col-xs-8">
                    <span class="name"><%= t('markets.market_list.all') %></span>
                </th>
                <th class="col-xs-10 text-right price">
                    <%= t('markets.market_list.price') %>
                </th>
                <th class="col-xs-6 text-right change">
                    <%= t('markets.market_list.change') %>
                </th>
            </tr>
        </thead>
        <tbody>
            <% @data.fetch(:markets).each do |market| %>
            <tr class="markets-toggle" id="market-list-<%= market.fetch(:id) %>" data-quote-unit="<%= market.fetch(:bid_unit) %>" data-base-unit="<%= market.fetch(:ask_unit) %>" data-market="<%= market[:id] %>">
                <td class="col-xs-8 name">
                    <%= link_to market.fetch(:name), '/trading/' + market.fetch(:id) %>
                </td>
                <td class="col-xs-10 price">
                    <%= market.fetch(:ticker).fetch(:last) %>
                </td>
                <td class="col-xs-6 change">
                    +0.00%
                </td>
            </tr>
            <% end %>
        </tbody>
    </table>
</div>
