<div class="mobile_trade_menu">
    <ul>
        <li data-for="m_t_markets">Markets</li>
        <li data-for="m_t_balances">Balances</li>
        <li data-for="m_t_candlestick" class="active">Candlestick</li>
        <li data-for="m_t_trade">Trade</li>
        <li data-for="m_t_open_orders">Open orders</li>
        <li data-for="m_t_trade_history">Trade history</li>
        <li data-for="m_t_chat">Chat</li>
        <li data-for="m_t_news">News</li>
        <% if @data[:current_member] %>
          <%= render partial: 'settings' %>
        <% else %>
          <li>
            <%= t('markets.mask.warning', regist_pass: '/regist', login_pass: '/login').html_safe %>
          </li>
        <% end %>
        <%= render partial: 'language' %>
    </ul>
</div>
