<button class="btn panel_button" data-target="news_wrapper"><%= t('markets.show.news') %></button>
<div class="panel_wrapper news_wrapper shown">
    <a class="twitter-timeline" href="https://twitter.com/CoinSpot?ref_src=twsrc%5Etfw">Tweets by CoinSpot</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
