<div class="open_orders_panel">
    <table class="table">
        <thead>
          <tr>
            <th class="amount text-left col-xs-6">
              <%= t('markets.my_orders.time') %>
            </th>
            <th class="amount text-left col-xs-6">
            </th>
            <th class="amount text-left col-xs-4">
              <%= t('markets.my_orders.price') %>
            </th>
            <th class="volume text-left col-xs-4">
              <%= t('markets.my_orders.amount') %>
            </th>
            <th class="price text-left col-xs-5">
              <%= t('markets.my_orders.volume') %>
            </th>
          </tr>
        </thead>
      <tbody></tbody>
    </table>
</div>
