<div class="trade_history_panel">
    <table class="table all-trades">
      <thead>
        <tr>
          <th class="at col-xs-7 text-left"><%= "#{t('markets.market_trades.time')}" %></th>
          <th class="my col-xs-3 text-left">&nbsp;</th>
          <th class="price col-xs-7 text-right"><%= "#{t('markets.market_trades.price')}" %></th>
          <th class="volume col-xs-7 text-right"><%= "#{t('markets.market_trades.volume')}" %></th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
</div>
