<audio preload="preload" id="success-fx">
  <source src="<%= audio_path('success.mp3') %>" />
</audio>

<audio preload="preload" id="warning-fx">
  <source src="<%= audio_path('warning.mp3') %>" />
</audio>

<%= render partial: 'c_header' %>
<% if mobile_device? %>
    <div class="c_m_content">
        <%= render partial: 'c_mobile_trade_menu' %>
        <div class="mobile_trade_body">
            <div class="m_t_markets">
                <%= render partial: 'c_markets' %>
            </div>
            <div class="m_t_balances">
                <%= render partial: 'c_balances' %>
            </div>
            <div class="m_t_candlestick" style="display:block;">
                <%# render partial: 'candlestick' %>
                <%# render partial: 'c_chart_header' %>
                <div class="page-tv-chart-container" id="tv_chart_container"></div>
            </div>
            <div class="m_t_trade">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="panel_header"><%= t('markets.depths.buy') %> (<%= @data.fetch(:current_market).fetch(:ask_unit).upcase %>)</div>
                        <%= render partial: 'c_bid_entry', locals: { market: @data.fetch(:current_market) } %>
                    </div>
                    <div class="col-xs-12">
                        <div class="panel_header"><%= t('markets.depths.sell') %> (<%= @data.fetch(:current_market).fetch(:ask_unit).upcase %>)</div>
                        <%= render partial: 'c_ask_entry', locals: { market: @data.fetch(:current_market) } %>
                    </div>
                    <div class="col-xs-12">
                        <div class="panel_header"><%= t('markets.show.sell_orders') %></div>
                        <%= render partial: 'c_ask_orders' %>
                    </div>
                    <div class="col-xs-12">
                        <div class="panel_header"><%= t('markets.show.buy_orders') %></div>
                        <%= render partial: 'c_bid_orders' %>
                    </div>
                </div>
            </div>
            <div class="m_t_open_orders">
                <div class="panel_header"><%= t('markets.show.open_orders') %></div>
                <%= render partial: 'c_open_orders' %>
            </div>
            <div class="m_t_trade_history">
                <div class="panel_header"><%= t('markets.show.trade_history') %></div>
                <%= render partial: 'c_trade_history' %>
            </div>
            <div class="m_t_chat">
                <%= render partial: 'c_chat' %>
            </div>
            <div class="m_t_news">
                <%= render partial: 'c_news' %>
            </div>
        </div>
    </div>
<% else %>
    <div class="c_content">
        <div class="col-xs-6">
            <%= render partial: 'c_markets' %>
            <%= render partial: 'c_balances' %>
            <%= render partial: 'c_chat' %>
            <%= render partial: 'c_news' %>
        </div>
        <div class="col-xs-18">
            <div class="col-xs-24">
                <%# render partial: 'candlestick' %>
                <%# render partial: 'c_chart_header' %>
                <div class="page-tv-chart-container" id="tv_chart_container"></div>
            </div>
            <div class="col-xs-16">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="panel_header"><%= t('markets.depths.buy') %> (<%= @data.fetch(:current_market).fetch(:ask_unit).upcase %>)</div>
                        <%= render partial: 'c_bid_entry', locals: { market: @data.fetch(:current_market) } %>
                    </div>
                    <div class="col-xs-12">
                        <div class="panel_header"><%= t('markets.depths.sell') %> (<%= @data.fetch(:current_market).fetch(:ask_unit).upcase %>)</div>
                        <%= render partial: 'c_ask_entry', locals: { market: @data.fetch(:current_market) } %>
                    </div>
                    <div class="col-xs-24" style="margin-bottom: 5px;">
                        <%= render partial: 'depths' %>
                        <%= render partial: 'ticker' %>
                    </div>
                    <div class="col-xs-12">
                        <div class="panel_header"><%= t('markets.show.sell_orders') %></div>
                        <%= render partial: 'c_ask_orders' %>
                    </div>
                    <div class="col-xs-12">
                        <div class="panel_header"><%= t('markets.show.buy_orders') %></div>
                        <%= render partial: 'c_bid_orders' %>
                    </div>
                </div>
            </div>
            <div class="col-xs-8">
                <div class="panel_header"><%= t('markets.show.trade_history') %></div>
                <%= render partial: 'c_trade_history' %>
            </div>
            <div class="col-xs-24">
                <div class="panel_header"><%= t('markets.show.open_orders') %></div>
                <%= render partial: 'c_open_orders' %>
            </div>
        </div>
    </div>
<% end %>



<%# <div id="wrap">
<%#  <div class="content">
<%#    <%= render partial: 'market_trades' %>
<%#    <%= render partial: 'market_list' %>
<%#    <%= render partial: 'candlestick' %>
<%#    <%= render partial: 'range_switch' %>
<%#    <%= render partial: 'indicator_switch' %>
<%#    <%= render partial: 'order_book' %>
<%#    <%= render partial: 'depths' %>
<%#    <%= render partial: 'ticker' %>
<%#    <%= render partial: 'ask_entry', locals: { market: @data.fetch(:current_market) } %>
<%#    <%= render partial: 'bid_entry', locals: { market: @data.fetch(:current_market) } %>
<%#    <%= render partial: 'my_orders' %>
<%# </div>
<%# </div>

%>
