@import 'bourbon';

@import 'vars/bootstrap';
@import 'vars/bootstrap_market';

@import 'bootstrap';
@import 'bootstrap-switch.min';

@import 'vars/basic';
@import 'vars/market';

@import 'font-awesome-sprockets';
@import 'font-awesome';
@import 'csshake.min';

@import 'layouts/basic';
@import 'layouts/positions';

/* basic layout
------------------------------------------------ */

html,
body,
#wrap,
.content {
  height: 100%;
  @include user-select(none);
}

body {
  min-width: $min-width !important;
  min-height: $min-height !important;

  // fixed icon spin
  -webkit-font-smoothing: antialiased !important;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
  -webkit-tap-highlight-color: transparent !important;
  -webkit-focus-ring-color: transparent !important;

  * {
    -webkit-font-smoothing: antialiased !important;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
    -webkit-tap-highlight-color: transparent !important;
    -webkit-focus-ring-color: transparent !important;
  }

  a.hand-point {
    cursor: pointer;
    text-decoration: none;
  }
}

header {
  box-sizing: border-box;
  bottom-border: 0px;

  p + p { margin-left: 20px !important; }
  span + span { margin-left: 10px !important; }

  span[data-title]:before { content: attr(data-title) ": "; }

  span.vol, span.high, span.low {
    font-family: $font-family-monospace;
  }

  .bootstrap-switch {
    margin-top: -2px;
    border-color: $panel-default-border;
  }

  .bootstrap-switch.bootstrap-switch-focused {
    @include box-shadow(none);
    border-color: $panel-default-border;
  }

  .bootstrap-switch.bootstrap-switch-mini.bootstrap-switch-animate {
    margin-top: -2px;
    border: none;

    & .bootstrap-switch-handle-on.bootstrap-switch-success {
      padding: 6px 2px;
      font-size: 12px;
      color: white !important;
      background-color: $up-text-fade;
    }

    & .bootstrap-switch-handle-off.bootstrap-switch-default {
      padding: 6px 2px;
      font-size: 12px;
      color: white !important;
      background-color: $down-text-fade;
    }

    .bootstrap-switch-label {
      color: rgba(255,255,255,.5);
      padding: 6px 2px;
      font-size: 12px;
      background-color: $btn-primary-bg;
    }

  }

  li.dropdown {
    a:hover {
      color: white;
      text-decoration: none;
      background: none;
      text-shadow: white 0 0 2px;
      text-decoration: none;
    }
    a:focus {
      text-shadow: none;
      text-decoration: none;
    }

    table {
      margin-bottom: 0px;
      td {
        vertical-align: middle;
        border-top: none;
        border-bottom: 1px solid $navbar-default-spliter;
      }
    }
  }

  @mixin header-dropdown {
    min-width: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: $panel-bg;
    border: 1px solid $panel-default-border;
    box-shadow: 0px 0px 8px $panel-default-border;

    li:first-child {
      padding-top: 8px;
    }
    li:last-child {
      padding-bottom: 8px;
    }
  }

  #language {
    .lang-icon {
      height: 16px;
    }
    .dropdown-menu {
      @include header-dropdown;
      min-width: 0;
      a {
        padding: 5px 15px;
      }
    }
  }

  #settings {
    .dropdown-menu {
      @include header-dropdown;
      li:nth-child(1), li:nth-child(2) {
        & > a:hover { text-shadow: none; }
      }
      li:nth-child(2) {
        padding-bottom: 8px;
      }

      .fa { width: 14px; }

      a { padding: 3px 10px; }
    }
  }

  #account_summary {
    font-family: $font-family-monospace;
    .dropdown-menu {
      @include header-dropdown;
    }
    table {
      min-width: 280px;
      .currency-logo {
        width: 32px;
        height: 32px;
        border-radius: 100%;
        background: center center no-repeat no-repeat;
        background-size: cover;
        margin: 0 auto;
      }
      span.locked { color: #777; }
    }
    p { margin: 8px; }
  }

  i.fa.fa-wifi { color: $text-color; }

  .navbar-right {
    .dropdown-menu {
      right: -1px !important;
      padding: 0px !important;
    }
  }

  .navbar-left {
    .dropdown-menu {
      left: -1px !important;
      padding: 0px !important;
    }

    span.vol, span.high, span.low, span.change {
      color: $navbar-numbers-color;
    }
  }
}

.navbar-static-top {
  min-width: $min-width;
}
.navbar-default .navbar-brand {
  color: $text-color;
}
.navbar-default .navbar-text {
  color: $text-color;
  span {
    color: $dark-gray;
  }
}

#wrap {
  box-sizing: border-box;
  margin-top: 0px/* - $navbar-height*/;
}

.container-fluid {
  padding-left: 10px;
  padding-right: 10px;
}

.content {
  top: /*$navbar-height*/100px;
  min-width: $min-width;
  min-height: $min-height - $navbar-height;
  width: 100%;
  height: 100%;
  position: relative; /*absolute*/
  font-size: 14px !important;
  background-color: $content-bg;
  font-family: $font-family-monospace;
}

#candlestick > .mask {
  background-color: $mask-bg;
}

.mask {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 900;
  background-color: $mask-bg;
  table {
    width: 100%;
    height: 100%;
  }
}

#ask_entry > .mask { padding-top: 80px; }
#bid_entry > .mask { padding-top: 80px; }

.float {
  position: absolute;
  @include transition(0.1s);
  @include transition-property(width);

  .sideways {
    width: auto;
    position: absolute;

    li > a { background: #000; }

    &.tabs-left {
      left: 3px;
      li { float: right; } // turn tabs
      transform: rotate(-90deg);
      @include transform-origin(left bottom);
    }

    &.tabs-right {
      right: 3px;
      li { float: left; } // turn tabs
      transform: rotate(90deg);
      @include transform-origin(right bottom);
    }
  }

  i.fa.fa-close { position: relative; z-index: 910; }
  .tab-content .tab-pane > * { width: 100%; height: 100%; }
}


@mixin float-wrapper($width, $height, $ul-top: 198px, $ul-width: 182px) {
  & > ul { width: $ul-width; top: $ul-top; }
  height: $height;

  width: 0px;
  .tab-content { display: none; }

  &.hover, &.hover-force {
    width: $width;
    .tab-content { display: block; }
    .sideways.tabs-left { left: 1px; }
  }
}

#chat_tabs_wrapper {
  bottom: $gutter; left: $gutter;
  min-height: 300px;
  @include float-wrapper(260px, 300px);
  &.stop-resize {
    height: 100px !important;
    min-height: 100px !important;
    & > ul { top: 140px }
  }
}

/* panel
------------------------------------------------ */
.panel {
  position: absolute;
  margin-bottom: 0px;

  &.panel-wide {
    .panel-body { padding: 8px; }
    .panel-heading { padding: 8px; }
  }

  &.panel-with-dropdown {
    .panel-heading {
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;

      .btn-group.open .dropdown-toggle {
        box-shadow: none;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
      }

      .btn-group {
        margin-right: 5px;
        cursor: pointer;
        span.caret { margin-left: 2px; }
        a:hover, a:focus { text-decoration: none; }
      }
    }
  }

  .panel-heading

  .panel-body.panel-fixed-table-head {
    table { margin-bottom: 0px; }
    padding-bottom: 0px;
  }

  .panel-body.panel-fixed-table-body {
    table { margin-bottom: 0px;}
    overflow-y: auto;
  }
}

.has-left-dropdown {
  .dropdown-wrapper {
    .dropdown-menu {
      display: block;
      z-index: 0;
      position: relative;
      top: 0;
      left: 100%;
      -webkit-transition: left .1s linear;
      transition: left .1s linear;
      min-width: 0;
      margin: 0;
      font-size: 11px;
      background-color: $panel-bg;
      border: 1px solid $panel-default-border;
      border-right: 0;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;

      a {
        display: none;
        padding: 3px 12px 3px 11px;
        background-color: $panel-bg;
      }

      a:hover {
        color: $link-color-hover;
        background-color: $panel-bg;
        text-shadow: white 0 0 2px;
        text-decoration: none;
      }

      a:focus {
        color: $text-color;
        text-shadow: none;
      }
    }
  }
}

.has-left-dropdown:hover {
  .dropdown-wrapper {
    .dropdown-menu {
      left: 1px;
      -webkit-transition: left .1s linear;
      transition: left .1s linear;

      a { display: block; }
    }
  }
}

.has-right-dropdown {
  .dropdown-wrapper {
    .dropdown-menu {
      display: none;
      position: relative;
      top: 0;
      left: 0;
      -webkit-transition: margin-left .1s linear;
      transition: margin-left .1s linear;
      min-width: 0;
      padding-left: 6px;
      margin: 0 0 0 -100%;
      font-size: 11px;
      background-color: $panel-bg;
      border: 1px solid $panel-default-border;
      border-left: 0;
      border-left-right-radius: 0;
      border-left-right-radius: 0;

      a {
        padding: 3px 8px;
        background-color: $panel-bg;
        i { color: $panel-bg; }
      }

      a.active {
        i {
          color: $icon-color;
          text-shadow: white 0 0 2px;
        }
      }

      a:hover {
        color: $icon-color;
        background-color: $panel-bg;
        text-shadow: white 0 0 2px;
        text-decoration: none;
        i { text-shadow: none; }
      }

      a:focus {
        color: $text-color;
      }
    }
  }
}

.has-right-dropdown:hover {
  .dropdown-wrapper {
    .dropdown-menu {
      display: block;
      margin-left: -1px;
      -webkit-transition: margin-left .1s linear;
      transition: margin-left .1s linear;

      a { display: block; }
    }
  }
}


/* order entry
-----------------------------------------------------*/
[data-lang=zh-cn] {
  #ask_entry, #bid_entry {
    label.input-group-addon {
      min-width: 40px !important;
    }

    .hint-price-disadvantage, .hint-positions  {
      top: 2px;
      left: 39px;
      margin-left: 0px;
      position: absolute;
      z-index: 10;
    }
  }

  .sideways li {
    direction: rtl;
    unicode-bidi: bidi-override;
    v { display: inline-block; transform: rotate(-270deg); }
  }

  #account_summary {
    table {
      min-width: 260px;
    }
  }
}

#ask_entry, #bid_entry {
  z-index: 999;

  .panel-body { padding-top: 10px; }

  .btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: -2px;
  }

  .row { margin-bottom: 6px; }

  .input-group {
    .input-group-addon {
      padding: 1px 4px 0px 4px;
      border-color: $border-color;
    }
    .form-control {
      border-color: $border-color;
    }

    label.input-group-addon {
      padding: 3px 6px 0px 6px;
      min-width: 70px;
      text-align: right;
      color: $text-color;
    }

    span.input-group-addon {
      padding: 3px 6px 0px 6px;
      min-width: 40px;
      text-align: left;
      color: $text-color;
    }

    input {
      text-align: right;
      padding-top: 8px !important;
      padding-bottom: 4px !important;
      padding-right: 6px !important;
      padding-left: 24px !important;
    }

    margin-bottom: 8px;
  }

  .hint-price-disadvantage, .hint-positions  {
    top: 3px;
    left: 65px;
    margin-left: 0px;
    position: absolute;
    z-index: 10;
  }

  .label { font-size: inherit; }
  .label.label-info { color: $brand-info }
  .label.label-success { color: $brand-success }
  .label.label-danger { color: $brand-danger }

  span.status-info, .status-success, .status-danger {
    top: -3px;
    left: -6px;
    margin-left: 0px;
    position: absolute;
    i.fa { margin-left: 4px; }
  }

  .row-tips {
    margin-top: 18px;
    margin-bottom: 13px;

    .current-balance { font-family: $font-family-monospace; }
    .unit { padding-left: 3px; }
  }
}

/* order-book trades my-orders table
---------------------------------------------------*/
.col-left { padding-right: 12px; }
.panel-body-head { border-bottom: 1px solid $border-color; }

#ticker, #order_book, #market_trades, #my_orders, #market_list {
  table {
    margin-bottom: 0px;

    &.hidden-buy { tr.bid { display: none; } }
    &.hidden-sell { tr.ask { display: none; } }

    td, th {
      padding: 0px 2px;
      border: none;
    }

    tr.highlight {
      background-color: $highlight-color;
    }

    td {
      &.price, &.amount, &.volume, &.change {
        text-align: right;
      }
    }
  }
}

table {
  thead {
    cursor: default;
    th {
      color: $thead-color;
      background: $thead-bg;
    }
  }
  &.table-hover {
    tbody > tr:hover {
      cursor: pointer;
    }
  }
}

.panel-body-content::-webkit-scrollbar { width: 0 !important }
.panel-body-content { overflow-y: auto; -ms-overflow-style: none; overflow: -moz-scrollbars-auto; }

.panel-heading {
  .pull-right + .pull-right {
    margin-right: 10px;
  }
}

.chart-ticker {
  color: #777;
  background-color: $panel-bg-alpha;
  border: 1px solid $navbar-default-border;
  padding: 6px 0 6px 6px;
  font-size: 11px;

  & > div { display: inline-block; width: 70px; }
  & > div.tooltip-ma { width: 76; margin-top: 3px; }
  & > div.tooltip-ticker { margin-top: 5px; }

  ul.list-inline {
    margin: 6px 0 0 0;
    li { padding: 0 6px 0 0; }
  }

  span.t-title {
    display: block;
    text-align: rigth;
  }

  span.t-value {
    color: $text-color !important;
    font-family: $font-family-monospace;
    text-align: right;
    margin-right: 15px;
  }
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.panel-width {
  width: 100%
}
@import 'custom/tradingview';
@import 'custom/market';
