<!DOCTYPE html>
<html>
  <head>
    <title><%= ENV.fetch('METADATA_TITLE') %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="<%= ENV.fetch('METADATA_DESCRIPTION') %>">
    <meta name="keywords" content="<%= ENV.fetch('METADATA_KEYWORDS') %>">
    <meta name="csrf-param" content="authenticity_token" />
    <meta name="csrf-token" content="<%= @data.fetch(:csrf_token) %>" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_tag do %>
      window.gon = <%= @data.fetch(:gon_variables).to_json.html_safe %>;
    <% end %>
    <!--[if lt IE 9]>
    <%= javascript_include_tag 'html5' %>
    <![endif]-->
    <%= javascript_include_tag "locales/#{I18n.locale}" %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body><%= yield %></body>
</html>
